<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageTemplateServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.MessageTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.GroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.LanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDataServlet</servlet-name>
        <servlet-class>jp.co.ncdc.stew.Servlet.ExportDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/UserAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageTemplateServlet</servlet-name>
        <url-pattern>/message_template/MessageTemplateAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/group/GroupAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/api/ChangeLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message/MessageAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/app/AppAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/app/uploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDataServlet</servlet-name>
        <url-pattern>/logs/ExportDataAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!-- Web service -->
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>jp.co.ncdc.stew.APIs.APIsConfig</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>jp.co.ncdc.stew.APIs.StewService</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
